<p id="notice"><%= notice %></p>

<h1>Listing Counties</h1>
<%= link_to 'New County', new_county_path %>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @counties.each do |county| %>
      <tr>
        <td><%= link_to (county.name), county %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <%unless user_signed_in? %>
            <div class="modal-content">
               <%= render 'shared/register'%> 
            </div>
          <% end %>
        </div>
      </div>


