<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img src="">
            <%= link_to 'Members of Senate', politicians_path %>            
        </div>
        <div class="col-lg-4">
            <img src="">
            <%= link_to 'Bills and Resolutions', bills_path %>            
        </div>
        <div class="col-lg-4">
            <img src="">
            <%= link_to 'Commitees', politicians_path %>            
        </div>
    </div>
</div>

