/*
 

 */
@import "bootstrap-sprockets";
@import "bootstrap";

body{
    margin-top:50px;
}

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      color: #337ab7;
      text-decoration: none;
    }
  }
}

.reply-form {
  display: none;
}

.avatar-thumb{
  width:50px;
  height:70px;
}
.avatar-username{
  text-transform: capitalize;
}