/*
 

 */
@import "bourbon";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


body{
    margin-top:80px;
    /*color:#fff;*/
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Oswald', sans-serif;
}
ul, label {
    margin: 0;
    padding: 0;
}
header{
    background-image: url("#{image-path('parliament.jpg')}");
/*    background: linear-gradient(to top right, rgba(0, 0, 255, 0.5), rgba(41, 239, 19, 0.75)), linear-gradient(rgba(0, 0, 255, 0.25) 100%, transparent);*/    background-size: contain;
    text-align: center;

      /* Set rules to fill background */
      min-height: 100%;
      min-width: 100vh;
        
      /* Set up proportionate scaling */
      width: 100%;
      height: 100vh;
        
      /* Set up positioning */
      position: relative;
      top: -100px;
      left: 0;
}

@media screen and (max-width: 360px) { /* Specific to this particular image */
  header {
    left: 50%;
    margin-left: -5px;   /* 50% */
  }
}

.center {
    max-width: 893px;
    margin: 100px auto 0;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.logo_full {
    width: 60%;
    max-width: 250px;
    background-color: rgba(0,0,0,0.9);
    padding: 35px;
    border-radius: 2px;
}
.intro_blurb.home {
    background-image: url('/assets/dark.png');
    background-repeat: no-repeat;
    background-size: 100% 110px;
    background-position: 0 -10px;
    padding: 30px;
}


.comment{
    border-bottom: thin solid black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      color: #337ab7;
      text-decoration: none;
    }
  }
}

.reply-form {
  display: none;
}

.avatar-thumb{
  width:90px;
  height:100px;
}
.capitalize{
    text-transform:capitalize;
}
.media{
    margin-bottom: 1rem;
    border-bottom: thin solid grey;
    padding-bottom: 1rem;
}
.img-thumbnail{
    border-radius: none;
    height:110px;
    width: 110px;
}
.avatar-username{
  text-transform: capitalize;
}
.tab-content{
    border: thin solid #ddd;
    border-top: none;
/*    margin-top: -1.5em;*/
    padding:1em;
}

ul li{
    list-style-type: none;
}


footer{
  clear: both;
  position: relative;
  bottom: -1px;
}
.footer{
  padding: 4em 0 3em;
  background-color: rgb(51, 51, 51);
  margin-top:5em;
}
.footer-grids h4 a {
    color: #D28F3B;
    font-size: 2.3em;
    text-decoration: none;
}
.footer h3 {
    color: #fff;
    font-size: 1.5em;
    margin: 0.4em 0 1em;
    font-weight: 300;
    letter-spacing: 2px;
}
.footer h4 {
    margin: 0 0 .5em;
}
.footer-grids h4 a span {
    font-size: 14px;
    color: #999;
}
.footer-grids p {
    color: #868686;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0;
}
.footer-grids ul li {
    margin-bottom: 1em;
    color: #868686;
    font-size: 14px;
    list-style-type: none;
}
.footer-grids ul li a {
    color: #868686;
    text-decoration: none;
}
.social-icons {
    padding: 1em 0 0 !important;
}
.social-icons li {
    display: inline-block;
}
i {
    font-size: 20px !important;
    margin-left: .5em;
    border: 2px solid #D28F3B;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 20%;
    padding-left: 22%;
    color: #D28F3B;
}

/* Home page styling*/

.banner-bottom{
    padding: 5em 0;
}
.banner-bottom h3, .events h3, h3.title, .contact-main h3 {
    text-align: center;
    color: #999;
    font-size: 2em;
    margin: 0;
    position: relative;
}
.banner-bottom h3::before, h3.title::before, .contact-main h3::before {
    background:  image_url('2.png') no-repeat 0px 0px;
    display: block;
    height: 31px;
    width: 100px;
    position: absolute;
    top: 105%;
    left: 41%;
    content: '';
}
.banner-bottom h3::after, h3.title::after, .contact-main h3::after {
    background: url(2.png) no-repeat 0px 0px;
    display: block;
    height: 31px;
    width: 100px;
    position: absolute;
    top: 105%;
    right: 41%;
    content: '';
}
.img-responsive {
    width: 350px;
    height:233px;
    border-left: thin solid #ABA295;
    border-right: thin solid #ABA295;
    border-top: thin solid #ABA295;
}
.services-grd {
    padding: 2em 1em;
    text-align: center;
    background-color: #ABA295;
    box-shadow: -3px -4px 6px #F1F1F1;
}
.services-grd h4 {
    text-transform: capitalize;
    font-size: 1.1em;
    color: #F5D8B3;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}
.services-grd p {
    margin: 1em 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.8em;
}
.services-grd {
    text-align: center;
}
/* home gape styling end*/
/* Styling for Profile*/
.grey.lighten-5 {
    background-color: #fafafa !important;
}
.root-sec {
    position: relative;
}
.about-inner {
    margin: 30px 0;
}
.person-img img {
    border: 8px solid #fff;
    max-height: 23.3em;
    max-width: 35em;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, ul.side-nav.full, ul.side-nav.fixed{
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.about-subtitle{
        color: #00bcd4;
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 30px;
        text-transform: uppercase;
}
.person-info h5 {
    border-bottom: 1px solid #eeeeee;
    color: #727272;
    font-size: 14px;
    margin-bottom: 12px;
    padding-bottom: 12px;
    text-transform: capitalize;
}
.person-info h5 span {
    display: inline-block;
    min-width: 70px;
}
span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.about-social {
    margin: 25px 0 0;
}
.about-social ul li {
    display: inline-block;
    margin-right: 8px;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.btn-floating {
    display: inline-block;
    color: #FFF;
    position: relative;
    z-index: 1;
    width: 37px;
    height: 37px;
    line-height: 37px;
    padding: 0;
    background-color: #26a69a;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}
.white {
    background-color: #FFFFFF !important;
}
.person-about > a.btn-large, .about-social ul li a i, .skill-title, .skill-count, .single-widget ul li a,   .com-title a, span.num {
    color: #00bcd4;
}
 i {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.about-social ul li a i {
    font-size: 14px;
}
.btn-floating i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #FFF;
    font-size: 1.6rem;
    line-height: 37px;
}
.person-about p {
    color: #727272;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 35px;
}
.person-about > a.btn-large, .home-content > a.btn-large {
    padding-right: 15px;
    padding-left: 15px;
    font-size: 14px;
}
.btn-large {
    height: 50px;
    line-height: 50px;
    text-transform: inherit;
    margin-bottom: 0;
    text-transform: uppercase;
}
.btn, .btn-large {
    text-decoration: none;
    color: #FFF;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: 0.5px;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    cursor: pointer;
}
.btn, .btn-large, .btn-flat {
    display: inline-block;
    height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
    line-height: 36px;
    text-transform: uppercase;
    border: none;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}
/* /Styling for profile */

/* bill show styles */
.bill{
    box-shadow: 0 1px 5px 0 rgba(0,128,0, 0.16), 0 1px 10px 0 rgba(0,128,0, 0.12);
}
.bill-title{
    font-size: 23px;
    line-height: 1.25em;
    font-weight: normal;
    font-family:'Oswald', sans-serif;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
ul.dashboard-list li {
    padding: 7px 0;
    list-style: none;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid white;
    height:120px;
}
.dashboard-avatar {
    padding: 1px;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    border: 1px solid #EBEBEB;
}
/* /bill show styles*/