/*
 

 */
@import "bourbon";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body{
    margin-top:80px;
}
h1, h2, h3, h4, h5, h6, a {
    font-family: 'Oswald', sans-serif;
}
ul, label {
    margin: 0;
    padding: 0;
}
.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      color: #337ab7;
      text-decoration: none;
    }
  }
}

.reply-form {
  display: none;
}

.avatar-thumb{
  width:50px;
  height:70px;
}
.avatar-username{
  text-transform: capitalize;
}

ul li{
    list-style-type: none;
}


footer{
  clear: both;
  position: relative;
  bottom: -1px;
}
.footer{
  padding: 4em 0 3em;
  background-color: rgb(51, 51, 51);
  margin-top:5em;
}
.footer-grids h4 a {
    color: #D28F3B;
    font-size: 2.3em;
    text-decoration: none;
}
.footer h3 {
    color: #fff;
    font-size: 1.5em;
    margin: 0.4em 0 1em;
    font-weight: 300;
    letter-spacing: 2px;
}
.footer h4 {
    margin: 0 0 .5em;
}
.footer-grids h4 a span {
    font-size: 14px;
    color: #999;
}
.footer-grids p {
    color: #868686;
    font-size: 14px;
    line-height: 1.8em;
    margin: 0;
}
.footer-grids ul li {
    margin-bottom: 1em;
    color: #868686;
    font-size: 14px;
    list-style-type: none;
}
.footer-grids ul li a {
    color: #868686;
    text-decoration: none;
}
.social-icons {
    padding: 1em 0 0 !important;
}
.social-icons li {
    display: inline-block;
}
i {
    font-size: 20px !important;
    margin-left: .5em;
    border: 2px solid #D28F3B;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding-top: 20%;
    padding-left: 22%;
    color: #D28F3B;
}

/* Home page styling*/

.banner-bottom{
    padding: 5em 0;
}
.banner-bottom h3, .events h3, h3.title, .contact-main h3 {
    text-align: center;
    color: #999;
    font-size: 2em;
    margin: 0;
    position: relative;
}
.banner-bottom h3::before, h3.title::before, .contact-main h3::before {
    background:  image_url('2.png') no-repeat 0px 0px;
    display: block;
    height: 31px;
    width: 100px;
    position: absolute;
    top: 105%;
    left: 41%;
    content: '';
}
.banner-bottom h3::after, h3.title::after, .contact-main h3::after {
    background: url(2.png) no-repeat 0px 0px;
    display: block;
    height: 31px;
    width: 100px;
    position: absolute;
    top: 105%;
    right: 41%;
    content: '';
}
.img-responsive {
    width: 350px;
    height:233px;
    border-left: thin solid #ABA295;
    border-right: thin solid #ABA295;
    border-top: thin solid #ABA295;
}
.services-grd {
    padding: 2em 1em;
    text-align: center;
    background-color: #ABA295;
    box-shadow: -3px -4px 6px #F1F1F1;
}
.services-grd h4 {
    text-transform: capitalize;
    font-size: 1.1em;
    color: #F5D8B3;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
}
.services-grd p {
    margin: 1em 0;
    color: #fff;
    font-size: 14px;
    line-height: 1.8em;
}
.services-grd {
    text-align: center;
}
/* home gape styling end*/
/* Registration or new session from anywhere*/

/* /Registration from anywhere */